body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

h1 {
    font-size: 18px;
    /* margin-top: -0.1%; */
}

header {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    z-index: 100;
    height: 8%;
    text-align: center;
}

.content {
    /* margin-left: px; */
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
}


/* The sidebar menu  */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: #585f66;
    z-index: 5;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 4%;
}


/* /The navigation menu links / */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}


/* When you mouse over the navigation links, change their color / */

.sidenav a:hover {
    color: #d6cece;
}

Style page content .main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
        /* margin-top: 20%; */
    }
}

@media (min-width: 568px) {
    .card {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .card {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 50%;
    }
}


/* / //////////////////////////////////////////////// */

@media (min-width: 568px) {
    .sidenav {
        width: 10%;
    }
}

@media (min-width: 992px) {
    .sidenav {
        width: 10%;
    }
}

@media (min-width: 1200px) {
    .sidenav {
        width: 10%;
    }
}


/* ---------------- */

body {
    min-height: 900px;
}

.login {
    height: 100vh;
}

label {
    margin-top: 2%;
}

.login-input,
textarea {
    width: 95%;
    display: block;
    margin-top: 15px;
    /* width: fit-content ;  */
    /* height: fit-content; */
    left: 25%;
}

.bord:focus {
    /* border: 2px red solid; */
    /* background-color: #C0C0C0; */
    border-radius: 3px;
    color: gray;
}

h1 {
    /* position: absolute; */
    /* top: 20%;
    left: 48%; */
    text-align: center;
}

.send {
    background-color: gray;
    border: none;
    border-radius: 3px;
    /* transition: background-color  0.5ms; */
}

.send:hover {
    background-color: #C0C0C0;
    color: white;
    cursor: pointer;
}

.card {
    background-color: aliceblue;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 34vw;
    margin-top: 18vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

select {
    display: block;
}


/* ********************************************** */

.btn:active,
.btn {
    display: inline-block;
    padding: 8px 12px;
    color: gainsboro;
    background-color: #0079dd;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
    float: right;
}


/* alert  */

.alert {
    padding: 15px;
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}